*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //defines what 1rem is
    font-size: 62.5%;
    height: 100%;
}

body {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif
}