.apply-screen {
  position: fixed;
  min-height: 100%;
  width: 100%;
  background: url(../img/2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y:scroll;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &__header h1 {
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
  }

  &__header p {
    width: 75%;
    margin: auto;
    text-align: left;
    font-size: 2.5rem;
    font-weight: 500;
  }

  &__form {
    width: 75%;
    margin: auto;

    &--input,
    &--select {
      font-size: 2rem;
      font-family: inherit;
      color: inherit;
      padding: 0.5rem 2rem;
      border-radius: 1rem;
      background-color: $main-color-white;
      border: 1px solid rgba($main-color-black, 0.4);
      width: 60%;
      display: block;
      margin-bottom: 1rem;
    }

    &--checkbox {
      color: inherit;
      padding: 0.5rem 2rem;
      border-radius: 1rem;
      background-color: $main-color-white;
      border: 1px solid rgba($main-color-black, 0.4);
      height: 2.5rem;
      width: 2.5rem;
      margin-left: 2rem;
    //   width: 60%;
    //   display: block;
      margin-bottom: 1rem;
    }

    // &--select {
    //     background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;
    // }

    &--button {
      text-align: center;
      margin: auto;
    }
  }
}
