.home-screen {
  position: fixed;
  min-height: 100%;
  width: 100%;
  background: url(../img/1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &__sign {
    background-color: rgba($main-color-white, 0.5);
    border: 1px solid transparent;
    border-radius: 2.5rem;
    margin: 10% auto;
    width: 80%;

    & h1 {
      font-size: 6rem;
      font-weight: 900;
    }
  }

  &__buttons {
    width: 80%;
    margin: auto;
  }
}
